<div>
    {{#each dataDetail}}
    <div class="showcase-grid">
        <div class="container">
            <div class="col-md-8 showcase">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb={{this.Hinh1}}>
                            <div class="thumb-image"> <img src={{this.Hinh1}} data-imagezoom="true"
                                    class="img-responsive"> </div>
                        </li>
                        <li data-thumb={{this.Hinh2}}>
                            <div class="thumb-image"> <img src={{this.Hinh2}} data-imagezoom="true"
                                    class="img-responsive"> </div>
                        </li>
                        <li data-thumb={{this.Hinh3}}>
                            <div class="thumb-image"> <img src={{this.Hinh3}} data-imagezoom="true"
                                    class="img-responsive"> </div>
                        </li>
                        <li data-thumb={{this.Hinh4}}>
                            <div class="thumb-image"> <img src={{this.Hinh4}} data-imagezoom="true"
                                    class="img-responsive"> </div>
                        </li>
                        <li data-thumb={{this.Hinh4}}>
                            <div class="thumb-image"> <img src={{this.Hinh5}} data-imagezoom="true"
                                    class="img-responsive"> </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 showcase">
                <div class="showcase-rt-top">
                    <div class="pull-left shoe-name">
                        <h3>{{this.Ten}}</h3>
                        <p>Giày chạy bộ</p>
                        <h4>{{this.Gia}}</h4>
                    </div>
                    <div class="pull-left rating-stars">
                        <ul>
                            <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                        aria-hidden="true"></span></a></li>
                            <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                        aria-hidden="true"></span></a></li>
                            <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn"
                                        aria-hidden="true"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star star-stn"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-star star-stn"
                                        aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <hr class="featurette-divider">
                <div class="shocase-rt-bot">
                    <div class="float-qty-chart">
                        <ul>
                            <li class="qty">
                                <h3>Kích thước</h3>
                                <select class="form-control siz-chrt">
                                    <option>41</option>
                                    <option>42</option>
                                    <option>43</option>
                                    <option>44</option>
                                    <option>45</option>
                                    <option>46</option>
                                </select>
                            </li>
                            <li class="qty">
                                <h4>Số lượng</h4>
                                <select class="form-control qnty-chrt">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <ul>
                        <li class="ad-2-crt simpleCart_shelfItem">
                            <a class="btn item_add" href="#" role="button">Thêm vào giỏ</a>
                            <a class="btn" href="#" role="button">Mua ngay</a>
                        </li>
                    </ul>
                </div>
                <div class="showcase-last">
                    <h3>Sảm phẩm chi tiết</h3>
                    <ul>
                        <li>Phần bên trong Bootie như vớ bao quanh chân của bạn cho phù hợp </li>
                        <li>Mí mắt độc đáo hoạt động với cáp Flywire để tạo ra sự vừa vặn giống như găng tay</li>
                        <li>Đế ngoài Waffle cho độ bền và lực kéo đa bề mặt</li>
                        <li>Scidsed Cushlon Midsole kết hợp đệm sang trọng và khả năng phục hồi để bảo vệ các tác động
                        </li>
                        <li>rãnh Midsole flex cho linh hoạt chân trước lớn hơn</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="specifications">
        <div class="container">
            <h3>Thông tin chi tiết</h3>
            <div class="detai-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-pills tab-nike" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                            data-toggle="tab">Điểm nhấn</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mô
                            tả</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                            data-toggle="tab">Điều khoản & điều kiện</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <p>Sản phầm giày {{this.Ten}} có chiều dài đầy đủ mang đến khả năng đệm tuyệt vời với tính linh
                            hoạt cao cho cảm giác mượt mà hơn
                            qua các bước chân.</p>
                        <p>Cáp Flywire năng động tích hợp với dây buộc và quấn chặt ở giữa chân của bạn để thực sự thích
                            nghi,
                            hỗ trợ phù hợp.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <p> Nike là một trong những nhà sản xuất và cung cấp thiết bị thể thao, giày dép và hàng
                            may mặc hàng đầu.
                            Nike là một thương hiệu toàn cầu và nó liên tục tạo ra các sản phẩm sử dụng công
                            nghệ và thiết kế cao
                            sự đổi mới. Nike có một bộ sưu tập giày thể thao dành cho nam giới rộng lớn tại
                            Snapdeal. Bạn có thể khám phá
                            loạt giày bóng rổ, giày bóng đá, giày cricket, giày tennis, giày chạy bộ, hàng ngày
                            giày hoặc giày lối sống. Hãy chọn từ một loạt giày thể thao với màu sắc rực rỡ như
                            đỏ, vàng, xanh lá cây, xanh dương, nâu, đen, xám, ô liu, hồng, màu be và trắng. Được thiết
                            kế cho đầu
                            hiệu suất, những đôi giày phù hợp với cách bạn chơi hoặc chạy. Có sẵn trong các vật liệu như
                            da,
                            vải, da lộn, da giả, lưới vv, những đôi giày này nhẹ, thoải mái, mạnh mẽ
                            và cực kỳ thể thao. Đế của tất cả giày Nike được thiết kế để cung cấp số lượng tăng
                            sự thoải mái và vật liệu đủ tốt để cung cấp một sự phù hợp được cải thiện. Những đôi giày
                            này rất dễ
                            duy trì và tồn tại trong một thời gian dài thực sự cho độ bền của chúng. Mua giày
                            Nike cho nam
                            trực tuyến với chúng tôi với một số giảm giá không thể tin được và giá cả tuyệt vời. Vì vậy,
                            nhanh hơn và chạy xa hơn
                            với đôi giày Nike của bạn và theo dõi mức độ bạn có thể chơi.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        Các hình ảnh đại diện cho sản phẩm thực tế mặc dù màu sắc của hình ảnh và sản phẩm có thể hơi
                        khác nhau.
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="you-might-like">
        <div class="container">
            <h3 class="you-might">Sản phẩm bạn có thể thích</h3>
            {{#each dataRelate}}
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                <div class="ih-item square effect3 bottom_to_top">
                    <div class="bottom-2-top">
                        <div class="img"><img src="{{this.Hinh}}" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>{{this.Ten}}</h3>
                            </div>
                            <div class="pull-right styl-price">
                                <p><a href="#" class="item_add"><span
                                            class="glyphicon glyphicon-shopping-cart grid-cart"
                                            aria-hidden="true"></span> <span class=" item_price">{{this.Gia}}</span></a>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a href="/product={{this.id}}">Chi tiết</a>
                </div>
            </div>
            {{/each}}
            <div class="clearfix"></div>
        </div>
    </div>
</div>